@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

body {
  margin: 0 auto;
}

h1 {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  margin: 0.5em;
  color: rgba(124, 81, 20, 0.743);
  text-shadow: 5px 5px 10px rgb(255, 183, 120);
}

.description {
  font-family: "Playpen Sans", cursive;
  font-size: 2rem;
  margin: 2em;
  padding: 0.3em;
  text-align: center;
}

#drink-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding: 0.5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 83%;
  margin: auto;
  padding: 0.5em;
  text-align: center;
  font-family: "Playpen Sans", cursive;
  background-color: rgba(255, 209, 157, 0.754);
}

img {
  width: 60%;
}

.drink-name {
  font-weight: 550;
  font-size: 1.2rem;
}

.like-dislike-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.like-btn,
.dislike-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

#ingredient-info {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  align-self: center;
}

#ingredient-info > h2,
ul {
  color: rgb(85, 24, 1);
  font-size: 1.4rem;
  font-family: "Playpen Sans", cursive;
}

#done-btn {
  justify-content: flex-start;
  display: inline-block;
  margin: 0.3em auto;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: rgb(117, 255, 255);
  color: rgb(3, 32, 85);
  border-radius: 0.3em;
  border: none;
  text-align: center;
  cursor: pointer;
}

#done-btn:hover {
  background-color: aquamarine;
}
